@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*   when font family is needed:
font-family: 'Orbitron', sans-serif;
*/



/*------------------ navbar */

.nav-pills {
    background-color: #4a4a4a;
    text-align: center;
}

.nav-link {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
}

.hvr-float:before {
    background: rgba(0, 0, 0, 0.2);
}


/*------background*/

body {
    background-image: url('../images/pendulumbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*------------------ body */
/*------------------ slideshow */


.slidershow {
  width: 700px;
  height: 400px;
  overflow: hidden;
  opacity: 1.0;
}

.middle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%,-50%);
}

.navigation {
  position: absolute;
  bottom: 20px;
  left: 50%;
  transform: translateX(-50%);
  display: flex;
}

.bar {
  width: 50px;
  height: 10px;
  border: 2px solid #fff;
  margin: 6px;
  cursor: pointer;
  transition: 0.4s;
}

.bar:hover {
  background: #fff;
}

input[name="r"] {
    position: absolute;
    visibility: hidden;
}

.slides {
  width: 500%;
  height: 100%;
  display: flex;
}

.slide {
  width: 20%;
  transition: 0.6s;
}

.slide img {
  width: 100%;
  height: 100%;
}

#r1:checked ~ .s1 {
  margin-left: 0;
}

#r2:checked ~ .s1 {
  margin-left: -20%;
}

#r3:checked ~ .s1 {
  margin-left: -40%;
}

#r4:checked ~ .s1 {
  margin-left: -60%;
}

#r5:checked ~ .s1 {
  margin-left: -80%;
}


/*------------------ slideshow */

.wrapper {
    opacity: 0.8;
    font-weight: bold;
}

.wrapper {
    margin: 0 auto;
    width: 1000px;
    background-color: #303030;
    color: white;
    font-family: 'Orbitron', sans-serif;
    margin-bottom: 30px;
}

/*------------------ Footer */

footer {
    background-color: #525252;
    position: fixed;
    font-family: 'Orbitron', sans-serif;
    bottom: 0;
    left: 0;
    color: white;
    max-height: 80px;
    margin: 0;
    font-size: 50px;
}



.social-links li a i {
    width: 40px;
    height: 40px;
    padding: 12px;
    border-radius: 50%;
    line-height: 15px;
    text-align: center;
    vertical-align: middle;
    color: #fafafa;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.list-inline-item {
    margin-left: 30px;
    margin-right: 30px;
}
