@import url('https://fonts.googleapis.com/css2?family=Orbitron&display=swap');

/*   when font family is needed:
font-family: 'Orbitron', sans-serif;
*/

/*------------------ navbar */



.nav-pills {
    background-color: #4a4a4a;
    text-align: center;
}

/*nav link for the text links to pages not currently on*/
.nav-link {
    font-family: 'Orbitron', sans-serif;
    color: #fff;
    margin-left: 50px;
    margin-right: 50px;
    width: auto;
}

.hvr-float:before {
    background: rgba(0, 0, 0, 0.2);
}


/*------background*/

body {
    background-image: url('../images/pendulumbackground.jpg');
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover;
}

/*------------------ body */

.wrapper {
    margin: 0 auto;
    width: 1000px;
    background-color: #303030;
    color: white;
    font-family: 'Orbitron', sans-serif;
}

/*------------------ Footer */

footer {
    background-color: #525252;
    position: fixed;
    font-family: 'Orbitron', sans-serif;
    bottom: 0;
    left: 0;
    color: white;
    max-height: 60px;
    margin: 0;
}

#footer-details {
    padding: 10px;
}

.social-links li a i {
    widows: 32px;
    height: 32px;
    padding: 12px;
    border-radius: 50%;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links {
    padding-top: 6px;
}

.social-links li a i:hover {
    background: #636363;
}

.list-inline-item {
    margin-left: 30px;
    margin-right: 30px;
}
